.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tags span {
    font-size:  20px;
    font-weight: bold;
}

.tags ul{
    display: flex;
    list-style: none;
}

.tags li {
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--verde-claro);
    background-color: var(--verde-medio);
    cursor: pointer;
}

.tags li:hover {
    background-color: var(--verde-escuro);
    transition: 0.3s;
}