:root{
  --verde: green;
  --verde-escuro: #99A98F;
  --verde-medio: #C1D0B5;
  --verde-destaque: #D6E8DB;
  --verde-claro: #FFF8DE;
}

.App {
  text-align: initial;
  font-family: 'Noto Serif JP', serif;
  font-weight: lighter;
  color: var(--verde-claro);
  background-color: var(--verde-escuro);
  letter-spacing: 2.5px;
}
